@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6fffa;
  --foreground: #0f2414;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: theme('fontFamily.body');
  color: var(--foreground);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
